@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@layer components {
  .navbar {
    @apply bg-neutral-900  w-[100%] h-[80px] fixed top-0 left-0 text-white text-2xl px-2 md:flex md:justify-between md:max-w-7xl md:pr-0 xl:left-[50%] xl:translate-x-[-50%];
  }

  .nav-link-container {
    @apply flex flex-col absolute w-full h-[100vh] bg-neutral-900 py-5 transition-all duration-700 ease-in-out md:flex-row md:w-auto md:h-auto md:static md:items-center;
  }

  .mobile-menu-icon {
    @apply w-8 hover:cursor-pointer hover:opacity-80 transition-all md:hidden;
  }

  .nav-link {
    @apply w-full text-center py-8 px-4 transition-all font-semibold rounded-sm hover:bg-gray-50 hover:text-neutral-900 md:h-[60px] md:py-3 md:px-14;
  }

  .navbar-btn {
    @apply mx-auto text-center rounded-sm my-4 px-6 py-3 border w-[80%] border-gray-200 transition-all font-semibold whitespace-nowrap uppercase hover:text-neutral-900 hover:bg-gray-50 md:mx-10 md:py-[6px] md:my-0 md:px-10 md:w-[100%];
  }

  .hero-container {
    background: url("../public/images/img-home.jpg") center center/cover
      no-repeat;
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  }

  .hero-btn {
    @apply py-2 px-4 uppercase whitespace-nowrap rounded-sm w-[200px] transition-all text-lg text-center md:py-3 md:px-12 md:w-[250px];
  }
}
